/* Reset CSS */

body,
header,
h1,
nav,
footer,
main,
div,
img,
ul,
iframe,
dl,
dt,
dd,
article,
figure,
figcaption,
aside,
p, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
}

/* 
bg: #fbebe0


yellow hex: #ffea44
light skin hex - #ffc4a8
dark pinnk hex : #fa8d74
dark brown-pink hex: #bd5943

*/

/* CSS VARIABLES */
:root {
  --mainbg: #fbebe0;
  --yellow-hex: #ffea44;
  --light-skin-hex: #ffc4a8;
  --dark-pink-hex: #fa8d74;
  --dark-brown-pink-hex: #bd5943;
  --very-dark: #e89c8b;
}
body {
  background-color: var(--mainbg);
}

/* HERO IMAGE RESPONSIVE */
img {
  max-width: 100%;
  display: block;
}

/* Style rules for header */
header {
  top: 0;
}

/* centers logo */
header img {
  margin-right: auto;
  margin-left: auto;
  height: 15vw;
}

/* Style rules for nav */
nav {
  margin-bottom: 1%;
}

nav > ul {
  list-style-type: none;
  text-align: center;
}

nav > ul > li {
  font-size: 1.5em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
 
}
nav > ul > li:nth-last-of-type(4) {
    border-top: none;
  }
  
nav li a {
  text-decoration: none;
  color: black;
  padding: 0.5em 1em;
  display: block;
  font-weight: bold;
}

nav li:hover {
  color: #000;
  background-color: var(--light-skin-hex);
}

/* MAIN CONTENT STYLE */
h1,
h2,
h3,
h4 {
  color: var(--dark-brown-pink-hex);
  text-align: center;
}

.headings {
  color: var(--dark-brown-pink-hex);
  text-align: center;
  font-size: 1.3rem;
}

section > div > figure > img {
  max-width: 40%;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}

section > div > figure > figcaption {
  text-align: center;
  margin-top: 2%;
}

figure {
  margin-top: 7%;
  margin-bottom: 7%;
}

.mobile {
  display: none;
  background-color: #fde5d6;
  padding: 2% 2% 2% 2%;
}

.mobile p {
  text-align: center;
}

ul li {
  text-align: center;
}

.action {
  font-size: 2em;
  font-weight: bold;
}

.action {
  color: var(--very-dark);
  font-size: 1.5rem;
}

/* GENERIC FOOTER STYLE */
footer {
  background-color: #fde5d6;
}

footer > p {
  font-size: 1.1em;
  text-align: center;
  color: black;
  padding: 0;
  margin: 0;
}

footer p a {
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 629px) {
  .mobile {
    display: block;
  }

  .tablet-desktop,
  #trading-hours {
    display: none;
  }
  .mobile-user {
    display: block;
  }

  .mobile-user > ul > li {
    background-color: var(--mainbg); /* White background */
  }

  /* Styling for individual form groups */
.form-group {
    display: flex;
    flex-direction: column; /* Stack label and input vertically */
    margin-bottom: 15px; /* Space between form fields */
    width: 100%; /* Take up full width of form container */
}

/* Center the labels and inputs */
.form-group label {
    font-weight: bold;
    text-align: center; /* Center label text */
    margin-bottom: 5%;
    color: #333;
}

.form-group input {
    padding: 10%;
    width: 100%; /* Ensure input takes full width */
    max-width: 80%; /* Limit input width for readability */
    margin: 0 auto; /* Center the input */
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}
}
/* ANCHORS IN CONTACT */

.tel-link a {
  color: black;
  text-decoration: none;
  font-size: 1.5em;
  display: block;
}

/* Media Query for Tablet Viewport */
@media screen and (min-width: 630px) and (max-width: 1024px), print {
  /* Tablet Viewport: Show tablet-desktop class, hide mobile class */
  .tablet-desktop {
    display: block;
  }

  .mobile,
  .mobile-user {
    display: none;
  }

  .map {
    width: 600px;
    height: 400px;
  }

  table #trading-hours {
    display: none;
  }

  .highlight {
    color: #d8bfd8;
    text-shadow: 5px 5px #ffc4a8;
  }
  /* FORM REGISRATION */
  fieldset{
    width: 40vw;
  }
  .form-group input {
    padding: 3%;
  }

  form {
    width: 70%;
    margin: 0 auto; 
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* three equal columns */
  gap: 20px; /* space between grid items */
}
.btn {
  grid-column: span 3; /* spans across all three columns */
}


}
/* MAIN Grid */
#linear-gradient {
  background-image: linear-gradient(#ffc4a8, #bd5943);
  height: 50%;
  color: black;
  font-weight: bolder;
}
/* CSS GENERAL TABLET  */
.tablet-desktop p {
  text-align: center;
}

.tablet-desktop p {
  text-align: center;
  padding: 2% 2% 2% 2%;
}

#container-map {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light-skin-hex);
}

#contact .contact-email-link {
  color: var(--yellow-hex);
  text-decoration: none;
}

@media screen and (min-width: 1025px), print {
  /* Desktop Viewport: Style rule for header */

  .mobile,
  .mobile-user {
    display: none;
  }

  header {
    margin-bottom: 5%;
  }
  nav li {
    border-top: none;
    display: inline-block;
    border-right: 2px solid #bd5943;
    font-size: 1.6em;
  }

  nav li:last-child {
    border-right: none;
  }

  nav li a {
    padding: 0.1em 0.75em;
  }

  .container,
  main,
  .external-link {
    font-size: 1.5em;
  }

  .tablet-desktop h1 {
    margin-top: 2%;
  }

  iframe {
    width: 800px;
    height: 500px;
  }

  .products dd {
    font-size: 1.5em;
  }

  .round {
    margin-left: 10%;
  }

  
  fieldset{
    width: 50vw;
  }
  .form-group input {
    padding: 3%;
  }



}

/* TABLE STYLING */
#trading-hours {
  text-align: center;
  margin-top: 2%;
}

table {
  margin: 0 auto; /* Ensures the table is centered */
  border-collapse: collapse; /* Removes spacing between cells */
  width: 100%;
}

th {
  background-color: var(--dark-brown-pink-hex);
  color: var(--light-skin-hex);
  padding: 10px;
  border: 1px solid black;
  text-align: center;
}

td {
  padding: 10px;
  border: 1px solid black;
  text-align: center;
}

tr:nth-child(even) {
  background-color: var(--mainbg);
}

table caption {
  font-size: larger;
  font-weight: bold;
  color: var(--dark-brown-pink-hex);
  padding-bottom: 2%;
}

/* FLEXBOX */
.container {
  clear: both;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  justify-content: space-evenly;
  /* background: rgb(255,149,95);background: linear-gradient(297deg, rgba(255,149,95,1) 21%, rgba(255,149,95,1) 40%, rgba(189,89,67,1) 84%); */
}

/* PROCUTS - MAIN */

article > img {
  margin-left: auto;
  margin-right: auto;
}

.products {
  /* background-color: var(--dark-brown-pink-hex); */
  margin: 2% 2% 2% 2%;
  padding: 2% 2% 2% 2%;
  border-radius: 10px;
  color: var(--dark-brown-pink-hex);
}

.products dt {
  font-weight: bold;
  font-size: 2em;
}

.products dd {
  font-size: 1.5em;
}
main article:nth-of-type(2) {
  padding-top: 3%;
}
main article {
  color: linear-gradient(#bd5943, #ffc4a8);
}

article > h3{
    font-size: 3rem;
    font-weight: bolder;
}
.conatiner > .products > img {
  margin-left: auto;
  margin-right: auto;
}

main > div > article > img {
  margin-bottom: 5%;
  
}

aside p {
  margin: 2% 2% 2% 2%;
  padding-top: 3%;
  color: var(--dark-brown-pink-hex);
}
aside {
  padding-bottom: 5%;
  background: var(--mainbg);
}

article > ul > li {
  list-style-type: none;
}

.external-link {
  background-color: var(--light-skin-hex);
  padding: 2% 2% 2% 2%;
  text-align: center;
}

.external-link a {
  text-decoration: none;
  list-style-type: none;
  color: var(--dark-brown-pink-hex);
}


/* LARDGE DESKTOP MEDIA */
@media screen and (min-width: 1200px){
  

    header {
      margin-bottom: 5%;
     
    }
    nav li {
      border-top: none;
      display: inline-block;
      border-right: 2px solid #f398da;
      font-size: 1.6em;
    }
  
    nav li:last-child {
      border-right: none;
    }
  
    nav li a {
      padding: 0.1em 0.75em;
    }
  
  body{
    font-size: 1.5rem;
  }

  #formReg  {
    font-size: 1.5em;
  }
  select{
    font-size: 0.7em;
  }

  th {
    background-color: #333;
    
  }
 

  }

/* REGISTRATION CSS */

#formReg {
    display: flex;
    flex-direction: column; /* Stack form elements vertically */
    align-items: center; /* Center elements horizontally */
    justify-content: center; /* Center elements vertically if needed */
    padding: 20px;
    background-color: #e1ada28e;
    border-radius: 10px;
    /* max-width: 600px; */
    margin: 0 auto; /* Center the form on the page */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}



/* Style for the submit button */
button {
    padding: 5% 8%;
    background-color: var(--dark-brown-pink-hex);
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: var(--yellow-hex);
}
.btn-container{
    text-align: center;
}


    /* Styling for individual form groups */
    .form-group {
      display: flex;
      flex-direction: column; /* Stack label and input vertically */
      margin-bottom: 15px; /* Space between form fields */
      width: 100%; /* Take up full width of form container */
      /* background-color: var(--mainbg); */
    }
    
    /* Center the labels and inputs */
    .form-group label {
      font-weight: bold;
      text-align: center; /* Center label text */
      margin-bottom: 5%;
      color: #333;
    }
    
    .form-group input {
      /* padding: 10%; */
      width: 100%; /* Ensure input takes full width */
      max-width: 80%; /* Limit input width for readability */
      margin: 0 auto; /* Center the input */
      border: 1px solid #e89c8b;
      border-radius: 5px;
      font-size: 16px;
      
    }

    form > fieldset > legend{
      color: #bd5943;
      font-weight: bolder;
      text-align: center;
      font-size: larger;

    }

    fieldset{
      background: var(--mainbg);
    }

    /* VIDEO STYLE c.	Create a new style rule for the video selector to specify margin */